# Папки сборщика (мусор PyInstaller)
build/
dist/
__pycache__/
*.spec

# Конфигурационные файлы (личные настройки)
esr_config.json

# Личные книги и тексты пользователя
*.txt
*.fb2
*.exe

# Исключения: файлы документации должны остаться!
!README.md
!README_EN.md
